<h3><i class="fa-solid fa-note-sticky "></i>  Notepad</h3>
<div class="section">
    <p class="lead">All your tasks tracked</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn blue darken-4 waves-effect">
    
        <i class="fab fa-google left"></i> Log in with Google
    </a>
</div>